<%= l(:text_answer) %>

<%= @journal.notes if @journal.notes? %>

<%= l(:text_question) %>

<%= @question.journal.notes if @question.journal && @question.journal.notes? %>

<% for detail in @journal.details -%>
<%= show_detail(detail, true) %>
<% end -%>

----------------------------------------
<%= render :partial => "mailer/issue_text_plain", :locals => { :issue => @issue, :issue_url => @issue_url } %>
