<% questions = Question.opened.for_user(User.current) %>
<% if questions && questions.any? %>
<div class="question">
  <h3><%= l(:text_questions_for_me)%> (<%= h(questions.length) %>)</h3>
  <ol>
    <% questions.each do |question| %>
    <li>
      <%= link_to_issue(question.issue, :project => true, :subject => false) %>: <%= truncate(question.notes, :length => 120) %><br/>
    </li>
    <% end %>
  </ol>
</div>
<% end %>



